# Database env example (для database/docker-compose.yml и root docker-compose db service)

POSTGRES_DB=shop
POSTGRES_USER=shop
POSTGRES_PASSWORD=shop

# Внешний порт контейнера БД
DB_EXTERNAL_PORT=5544
